<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="User_Module_Suite">
	<listeners>
		<listener class-name="api.utilities.ExtentReportManager"/>
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="api.test.Store_Test"/>
      <class name="api.test.Data_driven_User_Test"/>
      <class name="api.test.User_Test2"/>
      <class name="api.test.User_Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- User_Module_Suite -->
